img{
    max-width: 100%;
}

#webcam{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    filter: FlipH;
}

#canvas{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    filter: FlipH;
    z-index: 9;
}

#container {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
}

#app-title{
    z-index: 5;
}


#emoji-img{
    top: 60px;
    left: calc(50% - 50px);
    border-style: none;
}

#emoji-img.play{
    z-index: 10;
}

#buttons{
    width: 400px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: calc(50% - 150px);
    z-index: 10;
}
