.footer {
  padding: 30px;
  background-color: rgb(107, 147, 187);
  margin-top: 2px;
}

.footerText {
  text-align: center;
  color: #fff;
}

.linkcontact {
  text-align: center;
}
#formcontact {
  margin-top: 5px;
}
#formcontact input,
#formcontact textarea {
  width: 70%;
}
#btnsend {
  width: 70%;
  font-weight: bold;
}

#btnsend:hover,
#facebook:hover,
#githubbtn:hover {
  color: darkslateblue;
}
@media (max-width: 768px) {
  #formcontact input,
  #formcontact textarea {
    width: 70%;
    margin-left: 15%;
  }
  #formcontact {
    margin-top: 10px;
    text-align: center;
  }
  .col img {
    margin-top: 20%;
    border-top: 1px solid rgba(0, 0, 0);
  }
}

/*about*/
.main_about {
  align-items: center;
  border-radius: 3px;
  padding: 2%;
  border: 1px solid rgb(107, 147, 187);
}

.col {
  margin-top: 4%;
}

/*communicate*/
.main_com img{
  border: 5px solid rgb(107, 147, 187);
  width: 640px;
  height: 480px;
  margin-top: 10%;
}
